{extend name="layout/layout"}

{block name="title"}
学生管理
{/block}

{block name="body"}

<center>
    <h1>货物管理系统</h1>
    <form action="">
        货物名称：<input type="text">
        品牌： <input type="text">
        <input type="submit" value="搜索">
    </form>
    <div id="div_test">
        <table border="1">
            <tr>
                <td>id</td>
                <td>用户名</td>
                <td>年龄</td>
                <td>图片</td>
                <td>操作</td>
            </tr>
            {foreach $info as $v}
            <tr>
                <td>{$v.id}</td>
                <td>{$v.username}</td>
                <td>{$v.age}</td>
                <td><img height="100" src="{$v.image}"></td>
                <td><a href="{:url('Student/update','id='.$v.id)}">修改</a></td>
            </tr>
            {/foreach}
        </table>
        {$info|raw}
    </div>
    
</center>

{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){
        $('#div_test').on('click','.pagination a',function(){
            var url = $(this).prop('href');
            $.ajax({
                type:'get',
                url:url,
                dataType:'text',
                success:function(result){
                    $('#div_test').html(result);
                }

            });
            return false;
        });
    });
</script>
{/block}


{block name="foot"}
{/block}