<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
</head>
<body>
<h2>添加</h2>
<form action="{:url('Student/do_add')}" method="post" enctype="multipart/form-data">
    姓名：<input type="text" name="user_name"><br/>
    性别：<input type="radio" name="sex" value="1">男
    <input type="radio" name="sex" value="2">女<br/>
    图片：<input type="file" name="image"><br/>
    相册： <br/>
    <button type="button" id="add_btn">添加</button><br/>
    <div id="div_imgs">
        <input type="file" name="images[]"><button type="button" class="del_btn">删除</button><br/>
    </div>
    <br/>
    <input type="submit" name="" value="提交">

</form>


<script src="/static/jquery.min.js"></script>
<script>
    $(function(){
        $("#add_btn").click(function(){
            $("#div_imgs").append('<input type="file" name="images[]"><button type="button" class="del_btn">删除</button><br/>');
        });
        $("#div_imgs").on('click','.del_btn',function(){
            $(this).prev().remove();
            $(this).next().remove();
            $(this).remove();
        });
    })
</script>
</body>
</html>