<table width="100%" border="1" cellspacing="0" cellpadding="0">
    <tr>
        <td width="5%" class="tdColor tdC">ID</td>
        <td width="5%" class="tdColor tdC">品牌名称</td>
        <td width="5%" class="tdColor tdC">添加时间</td>
        <td width="10%" class="tdColor">操作</td>
    </tr>
    {foreach $brand_info as $v}
    <tr>
        <td>{$v.id}</td>
        <td>{$v.brand_name}</td>
        <td>{$v.add_time|date="Y-m-d H:i:s"}</td>
        <td><a href="{:url('Brand/update','id='.$v.id)}">
            <img class="operation" src="/static/admin/img/update.png">
        </a>
            <img class="operation delban" data-id="{$v.id}" src="/static/admin/img/delete.png"></td>
    </tr>
    {/foreach}
</table>
<div class="paging">{$brand_info|raw}</div>