<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>品牌列表-有点</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/css.css" />
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
<div id="pageAll">
    <div class="pageTop">
        <div class="page">
            <img src="/static/admin/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
                href="#">公共管理</a>&nbsp;-</span>&nbsp;品牌列表
        </div>
    </div>

    <div class="page">
        <!-- banner页面样式 -->
        <div class="connoisseur">
            <div class="conform">
                <form method="get" action="{:url('Brand/index')}">
                    <div class="cfD">
                        品牌名：<input class="vinput" type="text" name="search_name" placeholder="品牌" value="{$search_name}"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!--审核状态： <label>-->
                        <!--<input-->
                            <!--type="radio" name="styleshoice1" />&nbsp;待审核</label> <label><input-->
                            <!--type="radio" name="styleshoice1" />&nbsp;审核中</label> <label><input-->
                            <!--type="radio" name="styleshoice1" />&nbsp;已通过</label> <label class="lar"><input-->
                            <!--type="radio" name="styleshoice1" />&nbsp;未通过</label> <input-->
                            <!--type="checkbox" name="styleshoice1" />手动排序-->
                        <button type="submit" class="button">搜索</button>
                    </div>
                    <div class="cfD">
                        <!--<select>-->
                            <!--<option>请选择节目类型</option>-->
                            <!--<option>开场歌舞</option>-->
                            <!--<option>歌曲</option>-->
                            <!--<option>器乐演奏</option>-->
                        <!--</select>-->
                        <!--<input class="addUser" type="text" placeholder="输入节目名称/参与人" />-->
                        <!--<button type="submit" class="button">搜索</button>-->
                    </div>
                </form>
            </div>
            <!-- banner 表格 显示 -->
            <div class="conShow">
                <table width="100%" border="1" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="5%" class="tdColor tdC">ID</td>
                        <td width="5%" class="tdColor tdC">品牌名称</td>
                        <td width="5%" class="tdColor tdC">品牌图片</td>
                        <td width="5%" class="tdColor tdC">添加时间</td>
                        <td width="20%" class="tdColor">状态</td>
                        <td width="10%" class="tdColor">操作</td>
                    </tr>
                    {foreach $brand_info as $v}
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.brand_name}</td>
                        <td><img src="/uploads/{$v.brand_pic}" height="90" alt=""></td>
                        <td>{$v.add_time|date="Y-m-d H:i:s"}</td>
                        <td>
                            <!--判断显示的按钮-->
                            {if $v.state == 1}
                                <span>启用 </span>
                                <button type="button" data-id="{$v.id}" class="btn">禁用</button>
                                    {elseif $v.state == 0}
                                        <span>禁用 </span>
                                        <button type="button" data-id="{$v.id}" class="btn">启用</button>
                            {/if}
                        </td>
                        <td><a href="{:url('Brand/update','id='.$v.id)}">
                            <img class="operation" src="/static/admin/img/update.png">
                        </a>
                            <img class="operation delban" data-id="{$v.id}" src="/static/admin/img/delete.png"></td>
                    </tr>
                    {/foreach}
                </table>
                <div class="paging">{$brand_info|raw}</div>
            </div>
            <!-- banner 表格 显示 end-->
        </div>
        <!-- banner页面样式end -->
    </div>

</div>


<!-- 删除弹出框 -->
<div class="banDel">
    <div class="delete">
        <div class="close">
            <a><img src="/static/admin/img/shanchu.png" /></a>
        </div>
        <p class="delP1">你确定要删除此条记录吗？</p>
        <p class="delP2">
            <a href="#" id="confirm" class="ok yes">确定</a><a class="ok no">取消</a>
        </p>
    </div>
</div>
<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
    $(function(){
        $('.btn').click(function(){
            var id = $(this).attr('data-id'); //获取当前点击对象自定义属性
            var _this = $(this);   //把当前的对象赋值给一个变量
            var btn_content = _this.html(); //获取到当前对象标签的html内容
            /*根据当前所点击的按钮作用给后台传相应的值 比如：禁用传0   ;   启用传1 */
            if(btn_content == '启用'){ //如果当前标签html内容为启用给后台传1反之传0
                var val = 1;
            }else{
                var val = 0;
            }
            $.ajax({
                type: "POST",  //请求类型
                url: "{:url('Brand/ajax_up')}", //请求链接
                data: {id:id,val:val}, //请求参数
                dataType:'text', //数据类型
                success: function(result){
                    //ajax操作请求成功执行此函数
                    if(result == 1){ //后台操作成功 result=1 失败 result=0
                        //修改按钮为禁用
                        if(btn_content === '禁用'){
                            _this.prev().html('禁用');
                            _this.html('启用');
                        }else{
                            //启用返回
                           _this.prev().html('启用');
                            _this.html('禁用');
                        }
                    }

                }
            });
        });
    });
    // 广告弹出框
    $(".delban").click(function(){
        var brand_id = $(this).attr('data-id');
        $('#confirm').prop('href',"{:url('Brand/del')}?id="+brand_id);
        $(".banDel").show();
    });
    $(".close").click(function(){
        $(".banDel").hide();
    });
    $(".no").click(function(){
        $(".banDel").hide();
    });
    // 广告弹出框 end
</script>
</html>