{extend name="layout/layout"}
{block name="title"}注册{/block}
{block name="body"}
<div class="log_bg">
    <div class="top">
        <div class="logo"><a href="Index.html"><img src="/static/home/images/logo.png" /></a></div>
    </div>

    <div class="regist">
        <div class="log_img"><img src="/static/home/images/l_img.png" width="611" height="425" /></div>
        <div class="reg_c">
            <form>
                <table border="0" style="width:420px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">
                    <tr height="50" valign="top">
                        <td width="95">&nbsp;</td>
                        <td>
                            <span class="fl" style="font-size:24px;">注册</span>
                            <span class="fr">已有商城账号，<a href="{:url('Login/login')}" style="color:#ff4e00;">我要登录</a></span>
                        </td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;用户名 &nbsp;</td>
                        <td><input type="text" value="" class="l_user" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;密码 &nbsp;</td>
                        <td><input type="password" value="" class="l_pwd" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;确认密码 &nbsp;</td>
                        <td><input type="password" value="" class="l_pwd" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;邮箱 &nbsp;</td>
                        <td><input type="text" value="" name="user_email" class="l_email" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"> <font color="#ff4e00">*</font>&nbsp;验证码 &nbsp;</td>
                        <td>
                            <input type="text" value="" class="l_ipt" />
                            <a href="javascript:void(0)" style="font-size:12px; font-family:'宋体';" id="send_btn">发送验证码</a>
                        </td>
                    </tr>
                    <tr height="60">
                        <td>&nbsp;</td>
                        <td><input type="submit" value="立即注册" class="log_btn" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="script"}
    <script>
        $(function(){
            var email_str = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
            $('#send_btn').click(function(){
                var email = $('input[name=user_email]').val();
                if(!email_str.test(email)){
                    alert('请输入正确邮箱');
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "{:url('Register/send_email')}",
                    data: "{email:email}",
                    dataType:'text',
                    success: function(result){
                        if(result == 0){
                            alert('发送失败');
                        }else{
                            alert('发送成功');
                        }
                    }
                });
            });
        });
    </script>
{/block}

