<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>分类管理</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/css.css" />
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
<div id="pageAll">
    <div class="pageTop">
        <div class="page">
            <img src="__STATIC__/admin/img/coin02.png" /><span><a href="{:url('Index/main')}">首页</a>&nbsp;-&nbsp;分类管理&nbsp;-</span>&nbsp;分类列表
        </div>
    </div>

    <div class="page">
        <!-- banner页面样式 -->
        <div class="connoisseur">
            <!--<div class="conform">-->
                <!--<form action="" method="">-->
                    <!--<div class="cfD">-->
                        <!--<input class="addUser" type="text" placeholder="输入分类名称" />-->
                        <!--<button class="button">搜索</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!-- banner 表格 显示 -->
            <div class="conShow">
                <table width="100%" border="1" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="5%" class="tdColor tdC">ID</td>
                        <td width="20%" class="tdColor">分类名称</td>
                        <td width="20%" class="tdColor">创建时间</td>
                        <td width="10%" class="tdColor">操作</td>
                    </tr>
                    {foreach $cate as $v}
                    <tr>
                        <td>{$v.id}</td>
                        <td style="text-align: left">
                            {php}echo str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;',$v['level']).'|--'{/php}{$v.cate_name}
                        </td>
                        <td>{php}echo date('Y-m-d H:i:s',$v['add_time']){/php}</td>
                        <td>
                            <a href="{:url('Cate/update_cate')}">
                                <img class="operation" src="__STATIC__/admin/img/update.png">
                            </a>
                            <img class="operation delban" onclick="del_cate('{$v.id}')" src="__STATIC__/admin/img/delete.png">
                        </td>
                    </tr>
                    {/foreach}

                </table>
                <!--<div class="paging">此处是分页</div>-->
            </div>
            <!-- banner 表格 显示 end-->
        </div>
        <!-- banner页面样式end -->
    </div>

</div>


<!-- 删除弹出框 -->
<div class="banDel">
    <div class="delete">
        <div class="close">
            <a><img src="__STATIC__/admin/img/shanchu.png" /></a>
        </div>
        <p class="delP1">你确定要删除此条记录吗？</p>
        <p class="delP2">
            <a href="#" class="ok yes">确定</a><a class="ok no">取消</a>
        </p>
    </div>
</div>
<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
    $(function(){

    });

    var del_cate = function(cate_id){
        window.location.href = "{:url('Cate/del_cate')}?id="+cate_id;
    }
</script>
</html>